<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moguhu.baize.metadata.mapper.api.ApiEntityMapper" >
  <resultMap id="BaseResultMap" type="com.moguhu.baize.metadata.entity.api.ApiEntity" >
    <id column="api_id" property="apiId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="group_id" property="groupId" jdbcType="BIGINT" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="methods" property="methods" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="env" property="env" jdbcType="VARCHAR" />
    <result column="cached" property="cached" jdbcType="VARCHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="protocol" property="protocol" jdbcType="VARCHAR" />
    <result column="ext_info" property="extInfo" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    api_id, create_time, modify_time, `name`, group_id, path, methods, `status`, version,
    env, cached, info, protocol, ext_info
  </sql>

  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from api
    where api_id = #{apiId,jdbcType=BIGINT}
  </select>

  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from api
    where api_id = #{apiId,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.moguhu.baize.metadata.entity.api.ApiEntity" useGeneratedKeys="true" keyProperty="apiId" >
    insert into api
    <trim prefix="(" suffix=")" suffixOverrides="," >
        create_time,
        modify_time,
      <if test="name != null" >
        `name`,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="methods != null" >
        methods,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="env != null" >
        env,
      </if>
      <if test="cached != null" >
        cached,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="protocol != null" >
        protocol,
      </if>
      <if test="extInfo != null" >
        ext_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        NOW(),
        NOW(),
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="methods != null" >
        #{methods,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="env != null" >
        #{env,jdbcType=VARCHAR},
      </if>
      <if test="cached != null" >
        #{cached,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="protocol != null" >
        #{protocol,jdbcType=VARCHAR},
      </if>
      <if test="extInfo != null" >
        #{extInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateById" parameterType="com.moguhu.baize.metadata.entity.api.ApiEntity" >
    update api
    <set >
        modify_time = NOW(),
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="methods != null" >
        methods = #{methods,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="env != null" >
        env = #{env,jdbcType=VARCHAR},
      </if>
      <if test="cached != null" >
        cached = #{cached,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="protocol != null" >
        protocol = #{protocol,jdbcType=VARCHAR},
      </if>
      <if test="extInfo != null" >
        ext_info = #{extInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where api_id = #{apiId,jdbcType=BIGINT}
  </update>

  <!-- 分页查询 -->
  <select id="queryAll" resultMap="BaseResultMap" >
    SELECT DISTINCT
        t1.api_id as api_id ,
        t1.create_time as create_time ,
        t1.modify_time as modify_time ,
        t1.`name` as `name` ,
        t1.group_id as group_id ,
        t1.path as path ,
        t1.methods as methods ,
        t1.`status` as `status` ,
        t1.version as version ,
        t1.env as env ,
        t1.cached as cached ,
        t1.info as info ,
        t1.protocol as protocol ,
        t1.ext_info as ext_info
    FROM
        api t1
    LEFT JOIN api_comp_rela t2 ON t1.api_id = t2.api_id
    WHERE 1=1
    <if test="compId != null" >
      AND t2.comp_id = #{compId,jdbcType=BIGINT}
    </if>
    <if test="env != null and env != '' " >
      and t1.env = #{env,jdbcType=VARCHAR}
    </if>
    <if test="status != null and status != '' " >
      and t1.`status` = #{status,jdbcType=VARCHAR}
    </if>
    <if test="groupId != null" >
      and t1.group_id = #{groupId,jdbcType=BIGINT}
    </if>
    <if test="path != null and path != '' " >
      and t1.path = #{path,jdbcType=VARCHAR}
    </if>
    <if test="name != null and name != '' " >
      and t1.`name` LIKE CONCAT('%', #{name,jdbcType=VARCHAR}, '%')
    </if>
    ORDER BY t1.api_id DESC
  </select>

  <!-- 加锁 -->
  <select id="lock" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from api
    where api_id = #{apiId,jdbcType=BIGINT} for update
  </select>

</mapper>